<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вы вошли как {{username}}</title>
    <style>
   .rightpic {
    float: right; /* Выравнивание по правому краю */
    margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
   }
  </style>
    <style>
   .leftpic {
    float: left; /* Выравнивание по правому краю */
    margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
   }
  </style>
</head>
<body>
    {% if log%}
    <p>Вы вошли как {{username}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/logout">Выход</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/decks">Колоды</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/library">Юниты и заклинания</a></p>
    <br>
    {% else %}
    <p>Вы вошли как {{username}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/register">Регистрация</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/login">Авторизация</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/decks">Колоды</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/library">Юниты и заклинания</a></p>
    <br>
    {% endif %}


    {% for deck in decks%}
        {% for filename in deck%}
    <form action="/decks/delete_card" method="POST">
    <input type="image" src="../static/images/icons/{{filename}}" name="{{filename}}" alt="Click me" class="leftpic">
    </form>
        {% endfor %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% endfor %}
</body>
</html>